{% extends 'base.html'%}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>Título</label>
      <input type="text" class="form-control" name="nome"  placeholder="Título">
    </div>
    <div class="form-group">
      <label>Descrição</label>
      <input type="textarea" class="form-control" name="descricao" placeholder="Descrição">
    </div>
    <div class="form-group">
      <label>Foto</label>
      <input type="file" class="form-control" name="foto" placeholder="Foto">
    </div>
    <div class="form-group">
      <label>Quantidade</label>
      <input type="number" class="form-control" name="quantidade" placeholder="Quantidade">
    </div>
    <button type="submit" class="btn btn-primary" name="action">Publicar</button>
  </form>
  
  {% endblock content %}